*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
width: 1600px;
height: 2349px;
}
:root {
--main-color: #000000;
--color-blue : #2196F3;
--color-grey : #757575;
--color-white : #ffffff;
--color-deepblue : #2F303A;
--color-lightgrey : #F5F4FA;
font-family: Roboto;
}
.solution {
width: 1600px;
height: 600px;
background-color: var(--color-deepblue);
}
.solution h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    color: var(--color-white);
}
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
color: var(--main-color);
text-decoration: none;
margin-top: 24px;
margin-left: 215px;
}
.logo > span {
color: var(--color-blue);
}
.navigation {
width: 1600px;
height: 80px;
}
.navigation li {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--main-color);
list-style-type: none;
}
.navigation a {
text-decoration: none;
}
.navigation-menu {
width: 294px;
height: 16px;
display: flex;
margin-left: 453px;
margin-top: 32px;
justify-content: space-between;
}
.navigation-menu a {
color: var(--color-grey);
}
.navigation-menu a:hover {
color: var(--color-blue);
}
#studio {
width: 49px;
height: 16px;
}
#portfolio {
width: 77px;
height: 16px;
}
#contacts {
width: 68px;
height: 16px;
}
#mail-nav {
width: 135px;
height: 16px;
margin-left: 1078px;
}
#tel-nav {
width: 122px;
height: 16px;
margin-left: 50px;
}
.navigation-links {
display: flex;
}
.navigation-links a {
color: var(--color-grey);
}
.navigation-links a:hover {
color: var(--color-blue);
}
.activities img {
width: 370px;
height: 294px;
}
.activities {
width: 1170px;
height: 386px;
}
.features {
width: 1170px;
height: 101px;
}
.features p {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
}
.features span {
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
letter-spacing: 0.03em;
color: var(--color-grey);
}
.our-team {
width: 1600px;
height: 648px;
background-color: var(--color-lightgrey);
}
.our-team  li {
width: 270px;
height: 369px;
}
footer {
position: relative;
width: 1600px;
height: 252px;
top: 2097px;
background-color: var(--color-deepblue);
}
.solution {
}
.solution button {
width: 200px;
height: 50px;
background-color: var(--color-blue);
border-radius: 4px;
border: none;
}
.solution span {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: var(--color-white);
}
.solution button:hover {
background-color: var(--color-grey);
}
